
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold", Montserrat;
}

p {
  color: #FFF;
}

/* Headings */

.big-heading {
  font-family: "Montserrat";
  font-size: 1.35rem;

  line-height: 1.5;
}

.title-text {
  font-size: 2rem;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 3% 10%;
}

/* Sections */

.colored-section {
  background-color: #256bdb;
  font-weight: ;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  font-family: "Montserrat";
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;

}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* Buttons */

.download-button {

}

/* Title Section */

#title {
  background-color: #256bdb;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(15,40,85,1) 0%, rgba(9,40,85,1) 20%, rgba(173, 216, 230,1) 100%);

  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 5% 6% 20%;
}

/* Title Image */

.title-image {
  width: 100%;
  transform: rotate(0deg);
  position: absolute;


}


/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #256bdb;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #256bdb;
}

/* Testimonial Section */

#testimonials {
  background-color: #79b8cd;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 60%;
  margin: 20px;
}


#press {
  background-color: #256bdb;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 6% 2%;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

@media (max-width: 500px) {


    .testimonial-image {
      width: 100%;
      border-radius: 0%;
      margin: 0x;
    }
  }
